/*** GENERIC ***/

body {
    background-color: #bebebe;
}

.content {
    background-color: #000000;
    padding: 0px;
    width: 580px;
    height: 720px;
    color: #ffd700;
    font-family: Arial, sans-serif;
    position: relative;
}

tr:nth-child(2n){
    background-color: #161616;
}


/*** TOP ***/

.top {
    width: 580px;
    height: 70px;
    padding: 1px;
    box-sizing: border-box;
    background-color: #252525;
    position: relative;
    border-bottom: 2px solid black;
}

.img_bike {
    height: 60px;
    margin: 4px;
    float: left;
}

.bikes {
    height: 50px;
    font-size: 22px;
    display: inline-block;
    padding: 9px 0px;
    margin: 0;
    border-left: 2px solid black;
}

#clock {
    position: relative;
    float: right;
    padding: 4px 4px 4px 0;
    height: 60px;
    border-left: 2px solid black;
}

.clockTime {
    margin: 5px 0px;
    font-size: 43px;
}

/*** TRAMS ***/

#trams {
    width: 580px;
    height: 650px;
}

.trams_head {
    width: 580px;
    position: absolute;
    margin: 0px;
    background-color: #252525;
    height: 76px;
}

.stop_name {
    font-size: 43px;
    display: inline-block;
    width: 440px;
}

.img_tram {
    height: 70px;
    display: inline-block;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
}

.img_tram_box {
    height: 76px;
    float: right;
    display: inline-block;
    border-left: 2px solid black;
}

.schedule {
    height: 305px;
    width: 580px;
}


table {
    background-color: black;
    position: relative;
    top: 76px;
    width: 580px;
    font-size: 22px;
}

.departure {
    width: 150px;
}

.desc {
    float: left;
    position: relative;
    bottom: 0px;
    font-size: 20px;
}

.line {
    width: 100px;
}

/*** FOOTER ***/

#footer {
    bottom: 0;
    height: 40px;
    width: 580px;
    position: absolute;
    background-color: #ffffff;
}

#knitp_logo {
    height: 40px;
    display: inline-block;
    float: right;
}

#akai_logo {
    height: 40px;
    display: inline-block;
    float: right;
}