@import url('https://fonts.googleapis.com/css?family=Poppins');

/*** GENERIC ***/

body {
    background-color: #bebebe;
}

.content {
    background-color:  #f5f5f5;;
    padding: 0px;
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 28px;
    color: #333333;
    font-family: "Poppins";
    font-weight: bold;
}

/*** TOP ***/

.top {
    width: 1920px;
    height: 106px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    color: #333333;
    font-family: "Poppins";
    font-weight: bold;
    clear: both;
}

#header {
    margin-left: 54px;
    margin-top: 34px;
    font-size: 28px;
    width: 500px;
    float: left;
}

#clock {
    height: 106px;
    float: right;
}

.clockTime {
    margin-right: 40px;
    margin-top: 22.6px;
    margin-bottom: 22.6px;
    font-size: 40px;
    padding:0px;
}

/*** TRAMS ***/

.wrapper {
    position: absolute;
    margin: 136px 24px 76px 24px;
    height: 868px;
    width: 1872px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    position: relative;
    width: 453px;
    height: 417px;
    border-radius: 6px;
    box-shadow: 0px 3px 1px rgba(0,0,0,0.05);
    background-color: #ffffff;
    margin-left: 8px;
}

.card-top {
    position: relative;
    width: 100%;
    height: 85px;
    color: #333333;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 3px #f5f5f5;
}

.stop-name {
    position: absolute;
    top: 30px;
    bottom: 33px;
    left: 28px;
}

table {
    width: 400px;
    margin-left: 28px;
}

th {
    font-size: 12px;
    color: #999999;
    font-family: "Poppins";
    text-align: left;
}

tr {
    font-size: 18px;
    color: #333333;
    font-family: "Poppins";
    font-weight: bold;
}

.line {
    width: 75px;
}


.departure {
    width: 45px;
}

/*** BIKES ***/

.bikes {
    position: relative;
    width: 453px;
    height: 416px;
    border-radius: 6px;
    background-color: #405089;
}

.bikes-header {
    position: absolute;
    top: 30px;
    bottom: 33px;
    left: 28px;
}

.bikes-top {
    position: relative;
    width: 100%;
    height: 85px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 3px #ffffff;
}

.bikes-box {
    display: inline-block;
    width: 165px;
    height: 130px;
    margin-left: 41px;
    margin-top: 85px;
}

.bikes-num {
    font-size: 100px;
    padding: 0px;
    line-height: 100px;
    color: #ffffff;
    font-family: "Poppins";
    display: inline-block;
}

.bikes-name {
    font-size: 17px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: bold;
}


/*** FOOTER ***/

.footer {
    position: absolute;
    width: 253px;
    height: 117px;
    border-radius: 6px;
    box-shadow: 0px 3px 1px rgba(0,0,0,0.1);
    background-color: #ffffff;
    float: right;
    right: 30px;
    bottom: -50px;
}

#powered {
    margin-top: 26px;
    margin-left: 24px;
    font-size: 12px;
    color: #999999;
    font-family: "Poppins";
    width: 90px;
    display: inline-block;
}

#knitp_logo {
    height: 40px;
    display: inline-block;
    float: right;
    margin-right: 14px;
    margin-top: 14px;
}

#akai_logo {
    height: 40px;
    display: inline-block;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
}