body {
}
.schedule {
    width: 550px;
    height: 315px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    border-radius: 5px;
    font-size: 23px;
    font-family: Arial, sans-serif;
}

.content {
    background-color: #20eb01;
    padding: 5px;
    width: 580px;
    height: 720px;
}
.top {
    width: 550px;
    margin: auto;
    height: 25px;
    padding: 3px;
    padding-bottom: 10px;
    background-color: white;
    clear: both;
    border-radius: 5px;
}
.stop_name {
    float: left;
}
.clock {
    float: right;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: inline;
}

.line {
    width: 30px;
    height: 28px;
    font-family: Arial, sans-serif;
}
.time {
    width: 50px;
    height: 28px;
    font-family: Arial, sans-serif;
}
.direction {
    width: 300px;
    height: 28px;
    font-family: Arial, sans-serif;
}
table {
    margin: auto;
    width: 98%;
}
.bikes {
    width: 550px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin:auto;
    margin-top: 8px;
    font-size: 23px;
    font-family: Arial, sans-serif;
}
th {
    border-bottom: solid 1px black;
    padding: 2px;
    text-align: center;
}
tr:nth-child(odd) {
    background: lightgray;
}
h1 {
    font-size: 30px;
    margin-top: 5px;
    width: 45%;
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: inline;
}

